.html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'ChelseaRetro', sans-serif;
    background: rgb(139,113,79);
    background: linear-gradient(90deg, rgb(87, 70, 49) 5%, rgb(106,75,36,1) 25%, rgb(100, 70, 36) 51%, rgba(59,39,22,1) 76%, rgba(25,17,9,1) 96%);
    color: #e8e2dc;;
}
/**************/
/* Навигация */
/**************/
.navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #332112;
    padding: .5rem 0;
    z-index: 1000;
}

.logo {
    display: block;
    margin-top: 200px;
}

.navbar img {
    margin-left: .5em;
}

/*Блоки меню*/

.nav {
    width: 80%;
}

.nav-item {
    display: block;
    position: relative;
}

.nav-item+.nav-item::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,.4);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.4);
}

.nav-link {
    display: block;
    width: 100%;
    color: #e8e2dc !important;
    text-transform: uppercase;
    padding: .5rem 0;
}

.nav-link::after{
    transition: all .10s;
    opacity: 0;
    content: '\f0c4';
    font-family: 'FontAwesome';
}

.nav-link:hover::after{
    transform: rotate(-50deg);
    opacity: 1;
    margin-left:2px; 
} 
/*Ссылки и контакты*/
.social {
    font-size: 1.5rem;
    color: #e8e2dc;
    text-decoration: none;
}
.fa-phone, .fa-instagram {
    margin-right: 5px;
}
.insta a {
    color: #e8e2dc;
}

.phonenumber:hover > span i  {
    animation: 1200ms ease 0s normal none 1 running shake;
}
@keyframes shake {
0% {
    transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
}
}

/*Выезд навбара для средних устройств*/


/*cмещение главного блока*/
.move-main {
    margin-left: 200px;
}

/* Главная страница*/
.main {

}
.main h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


@media (max-width: 576px) {
    .navbar {
        width: 100vw;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: -1000px;
    }
    .visible-navbar {
        left: 0;
        box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
    }
 }
@media (min-width: 576px) {
    .navbar {
        width: 25%;
    }
    .sticky {
        position: fixed;
        top: 0;
        left: -1000px;
    }
    .visible-navbar {
        left: 0;
        box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
    }
    .move-main {
        margin-left: 25%;
    }
    .social {
        font-size: 1.15rem;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) { 

    #toggler {
        display: none;
    } 
    .sticky {
        position: fixed;
        top: 0;
        left: 0px;
        width: 100%;
    }
    .nav-link {
        font-size: 1.1rem;
    }
    .social {
        font-size: 1em;
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) { 
    .nav-link {
        font-size: 1.3rem;
    }
    .social {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .nav-link {
        font-size: 1.5rem;
    }
    .social {
        font-size: 1.55rem;
        margin-bottom: 30px;
    }
 }

@font-face {
    font-family: "ChelseaRetro";
    src: url("fonts/ChelseaRetro.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}